ПАКЕТ SURPRISE

используйте данные MovieLens 1M
можно использовать любые модели из пакета
получите RMSE на тестовом сете 0.87 и ниже
Комментарий преподавателя :
В ДЗ на датасет 1М может не хватить RAM. Можно сделать на 100K. 
Качество RMSE предлагаю считать на основе CrossValidation (5 фолдов),
а не отложенном датасете.

In [2]:
import pandas as pd
import numpy as np
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

In [5]:
 ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
# группируем таблицы
# (для метода join сначала создадим, а затем удалим индекс по полю movieId, заодно удалив пропуски и переписав датасет)
movies_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_ratings.dropna(inplace=True)
movies_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [12]:
# Выберем наугад пользователя с его рейтингами 
movies_ratings[movies_ratings.userId == 100].title.unique()

array(['Grumpier Old Men (1995)', 'American President, The (1995)',
       'Casino (1995)', 'Sense and Sensibility (1995)',
       'Ace Ventura: When Nature Calls (1995)', 'Persuasion (1995)',
       "Mr. Holland's Opus (1995)", 'Bed of Roses (1996)',
       'Nick of Time (1995)', 'Broken Arrow (1996)',
       'Happy Gilmore (1996)', 'First Knight (1995)',
       'Circle of Friends (1995)', 'Clerks (1994)', 'Exit to Eden (1994)',
       'Ed Wood (1994)', 'Forget Paris (1995)', 'Little Women (1994)',
       'Legends of the Fall (1994)', 'Pulp Fiction (1994)',
       'Forrest Gump (1994)', 'Four Weddings and a Funeral (1994)',
       'Maverick (1994)', 'Speed (1994)', 'True Lies (1994)',
       'Dazed and Confused (1993)', 'Much Ado About Nothing (1993)',
       'Philadelphia (1993)', 'Sirens (1994)',
       'Sleepless in Seattle (1993)', 'Tombstone (1993)',
       'True Romance (1993)', 'Ghost (1990)', 'Dances with Wolves (1990)',
       'Batman (1989)', 'Snow White and the Seven Dwarfs (1937)',
       'Pretty Woman (1990)', 'One Fine Day (1996)',
       'Mission: Impossible (1996)', 'Emma (1996)',
       "Singin' in the Rain (1952)", 'American in Paris, An (1951)',
       'My Fair Lady (1964)', 'Roman Holiday (1953)',
       'Wizard of Oz, The (1939)', 'Gone with the Wind (1939)',
       'Citizen Kane (1941)', 'Affair to Remember, An (1957)',
       'To Catch a Thief (1955)', 'Father of the Bride (1950)',
       'Mary Poppins (1964)', 'Sound of Music, The (1965)',
       'Lawnmower Man, The (1992)',
       "William Shakespeare's Romeo + Juliet (1996)",
       "Weekend at Bernie's (1989)", 'Top Gun (1986)',
       'Princess Bride, The (1987)', '12 Angry Men (1957)',
       'Goodfellas (1990)', 'Blues Brothers, The (1980)',
       'Amadeus (1984)', 'Dead Poets Society (1989)',
       'Better Off Dead... (1985)', 'Groundhog Day (1993)',
       'Back to the Future (1985)', 'Cyrano de Bergerac (1990)',
       'Young Frankenstein (1974)', 'This Is Spinal Tap (1984)',
       'Some Kind of Wonderful (1987)', 'Killing Fields, The (1984)',
       'When Harry Met Sally... (1989)', 'Grease (1978)',
       'Jerry Maguire (1996)', 'Scream (1996)', 'Benny & Joon (1993)',
       'Grosse Pointe Blank (1997)',
       'Austin Powers: International Man of Mystery (1997)',
       'Men in Black (a.k.a. MIB) (1997)', 'Chasing Amy (1997)',
       'Witness (1985)', 'Joy Luck Club, The (1993)',
       'Sliding Doors (1998)', 'Wedding Singer, The (1998)',
       'As Good as It Gets (1997)', 'Out of Sight (1998)',
       "There's Something About Mary (1998)",
       'Terms of Endearment (1983)', 'Rain Man (1988)',
       'Breakfast Club, The (1985)', 'Goonies, The (1985)',
       'Saving Private Ryan (1998)', 'Splash (1984)', 'L.A. Story (1991)',
       'Ever After: A Cinderella Story (1998)', 'Working Girl (1988)',
       'Say Anything... (1989)', 'About Last Night... (1986)',
       'Edward Scissorhands (1990)', 'American History X (1998)',
       'Shakespeare in Love (1998)', 'Romancing the Stone (1984)',
       "Christmas Vacation (National Lampoon's Christmas Vacation) (1989)",
       "Jumpin' Jack Flash (1986)", 'Blast from the Past (1999)',
       'Office Space (1999)', 'Pet Sematary (1989)',
       'Analyze This (1999)', 'Notting Hill (1999)',
       'Austin Powers: The Spy Who Shagged Me (1999)',
       'American Pie (1999)', 'Blair Witch Project, The (1999)',
       'Ghostbusters (a.k.a. Ghost Busters) (1984)',
       'Christmas Story, A (1983)', 'Natural, The (1984)',
       'Goodbye Girl, The (1977)', 'Far and Away (1992)',
       'Singles (1992)', 'Single White Female (1992)', 'Misery (1990)',
       'Return to Me (2000)', 'Keeping the Faith (2000)',
       'Gone in 60 Seconds (2000)', 'Patriot, The (2000)',
       'Best in Show (2000)', 'Chocolat (2000)',
       'Officer and a Gentleman, An (1982)', 'Mexican, The (2001)',
       "Bridget Jones's Diary (2001)", 'Moulin Rouge (2001)',
       "Bill & Ted's Excellent Adventure (1989)",
       "Look Who's Talking (1989)", 'Major League (1989)',
       'Planet of the Apes (2001)', 'Beautiful Mind, A (2001)',
       'Gosford Park (2001)', 'My Big Fat Greek Wedding (2002)',
       'Importance of Being Earnest, The (2002)',
       'Sweet Home Alabama (2002)', '8 Mile (2002)',
       'Catch Me If You Can (2002)', 'Recruit, The (2003)',
       'Pillow Talk (1959)', 'Finding Nemo (2003)',
       'Seven Brides for Seven Brothers (1954)',
       'Intolerable Cruelty (2003)', "Something's Gotta Give (2003)",
       'Terminal, The (2004)', 'Spider-Man 2 (2004)'], dtype=object)

In [14]:
# Создадим датафрейм Pandas 
dataset = pd.DataFrame({
    'uid': movies_ratings.userId,       # id пользователя
    'iid': movies_ratings.title,        # название фильма
    'rating': movies_ratings.rating     # рейтинг, который пользователь поставил фильму 
})
dataset.head()

    uid               iid  rating
0   1.0  Toy Story (1995)     4.0
1   5.0  Toy Story (1995)     4.0
2   7.0  Toy Story (1995)     4.5
3  15.0  Toy Story (1995)     2.5
4  17.0  Toy Story (1995)     4.5

In [15]:
# находим разброс значений по рейтингам в датафрейме по рейтингу
print(ratings.rating.min())
print(ratings.rating.max())

0.5
5.0

In [16]:
# Объявим переменную класса Reader и преобразуем датафрейм Pandas в датасет surprise 
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [17]:
# Разобьем датасет surprise на трейн и тест 
trainset, testset = train_test_split(data, test_size=0.15)

In [18]:
algo = KNNBasic(k=50, sim_options={'name': 'pearson_baseline', 'user_based': True})
algo.fit(trainset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [19]:
# Сформируем прогноз на основе полученной модели
test_pred = algo.test(testset)

In [20]:
# Проверим качество прогноза
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.9618

0.9617706417228883

In [22]:
from surprise import SVD, SVDpp
from surprise.model_selection import cross_validate

In [23]:
algo = SVD()
cross_validate(algo, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8743  0.8745  0.8747  0.8725  0.8730  0.8738  0.0009
Fit time          9.66    9.91    10.28   9.89    9.85    9.92    0.20
Test time         0.53    0.30    0.30    0.38    0.38    0.38    0.08

{'test_rmse': array([0.87427118, 0.87451007, 0.87466373, 0.87249302, 0.8729856 ]),
 'fit_time': (9.655619621276855,
  9.913264274597168,
  10.275587558746338,
  9.892565965652466,
  9.8535635471344),
 'test_time': (0.5304009914398193,
  0.3000171184539795,
  0.3020172119140625,
  0.3840219974517822,
  0.38102197647094727)}

In [24]:
algo = SVD()
algo.fit(trainset)
predictions = algo.test(testset)
print(f'For SVD rmse : {accuracy.rmse(predictions)}')

RMSE: 0.8640
For SVD rmse : 0.8640439030065644

In [26]:
from surprise.model_selection import KFold

kf = KFold(n_splits=5)

for trainset, testset in kf.split(data):
    algo.fit(trainset)
    predictions = algo.test(testset)
    accuracy.rmse(predictions, verbose=True)

RMSE: 0.8786
RMSE: 0.8701
RMSE: 0.8778
RMSE: 0.8638
RMSE: 0.8754